.btn {
  background: $header-main-color;
  border-radius: 40px;
  border: 1px solid $header-main-color;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: #fff;
    color: $header-main-color;
    border: 1px solid $header-main-color;
  }
}
.header__btn {
  width: 145px;
  height: 37px;
}
.lower-btn {
  padding: 23px;
  width: 290px;
  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
  margin-bottom: 20px;
}
.menu-btn {
  display: none;
  border: none;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 36px;
  background-color: #27262a;
  cursor: pointer;
  margin-top: 23px;
  position: relative;
  margin-bottom: 23px;
  & span {
    display: block;
    background-color: #fff;
    width: 26px;
    height: 3px;
    border-radius: 4px;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    background-color: #fff;
    height: 3px;
    border-radius: 4px;
    position: absolute;
    right: 0;
  }
  &::before {
    width: 15px;
    top: 8px;
  }
  &::after {
    width: 26px;
    bottom: 8px;
  }
}
.menu-btn.open-menu span {
  display: none;
}
.menu-btn.open-menu::after {
  transform: rotate(45deg);
  top: 17px;
  width: 23px;
}
.menu-btn.open-menu::before {
  transform: rotate(-45deg);
  top: 17px;
  width: 23px;
}
