.editor {
  margin-top: 130px;
  margin-bottom: 70px;

  &__call {
    margin-bottom: 27px;
    text-align: center;
    font-weight: 700;
    font-size: 54px;
    line-height: 1;
    text-transform: uppercase;
    color: #635c73;
  }

  &__text {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    max-width: 861px;
    font-family: "Lato";
    text-align: center;
    color: #323232;
    font-size: 21px;
    line-height: 1.524;
    letter-spacing: 0.5px;
  }

  &__list {
    display: flex;
    margin: -10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin: 10px 5px;
    list-style: none;
  }

  &__icon {
    display: inline-block;
    padding-right: 5px;
    width: 20px;
    height: 20px;
  }

  &__button {
    border: 2px solid #c0c0c0;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 26px;
    cursor: pointer;

    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.21;
    color: #000;
  }

  &__count {
    margin-left: 5px;
    padding-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #c0c0c0;
    min-width: 50px;
    height: 26px;
  }

  @media screen and (max-width: $tablet-width) {
    margin-top: 156px;
    margin-bottom: 98px;

    &__call {
      font-size: 42px;
    }

    &__text {
      max-width: 689px;
    }
  }

  @media screen and (max-width: $mobile-width) {
    margin-top: 120px;
    margin-bottom: 88px;

    &__call {
      font-size: 26px;
      line-height: 1.077;
    }

    &__text {
      margin-bottom: 36px;
      max-width: 286px;
      font-size: 14px;
      line-height: 1.429;
    }
  }
}
